<!DOCTYPE html>
<link rel="stylesheet" href="css/styles.css">
<html lang="en">
    
        <h1 id="Title">Welcome to Groupie Tracker!</h1>
    <body> 
        <div class="container">
        {{range .}}
            <form action= /artistInfo method="post"> 
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <input type="hidden"  name="ArtistName" value="{{.Name}}" alt={{.Name}}>
                            <input type="image" src={{.Image}}>
                        </div>
                        <div class="flip-card-back">
                        <input type="submit" id="back" value="{{.Name}}">
                        </div>
                    </div>
                 </div>
            </form>
        {{end}}
        </div> 
    </body>
</html>